
@{
    ViewBag.Title = "Index";
}
<div style="margin:40px;">                
         <a href="@Url.Action("Index","Libro")" class="btn btn-success ">LIBROS</a>          
           
         <a href="@Url.Action("Index","Autor")" class="btn btn-success ">AUTORES</a>   
      
</div>

