
@{
    ViewBag.Title = "NuevoError";
}

<div style="margin:40px;">
    <h2>NuevoError No Puedes Agregar mas de 5 Libro</h2>
    <hr />
    <h3>Puedes eliminar un Librio y agregar uno Nuevo.</h3>
    <hr />
    <a href="@Url.Action("Index","Libro")" class="btn btn-success right">Regresar</a>
</div>

